.App {
  text-align: center;
  background-color: orange;
}

.searchBarBtn {
  padding : 20px;
}

/* .searchBar{
  background-color: rgb(216, 199, 199);
} */

.searchButton {
  background-color: rgb(228, 217, 217);
}

.title {
  font-style: italic;
}

/* .recipeLi {
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */